<html>
    <head>
        <title>TODO App</title>
    </head>
    <body>
        <div id="lists_div">
            <form method="POST", id="list_form">
                <div>
                    <label>Create a List</label>
                    <input type="text", id="list_name", name="name">
                </div>
                <div>
                    <input type="submit", value="create">
                </div>
            </form>
            <br>
            <ul id="lists">
                {% for l in lists %}
                    <li>
                        <!-- <input id="listcheck-{{ l.id }}" class="list-checkbox-complete" type="checkbox" {% if False %} checked {% endif %}> -->
                        <a href="/lists/{{ l.id }}">{{ l.name }}</a> 
                        <!-- <button id="todobutton-{{ l.id }}" class="cross-button">&cross;</button> -->
                    </li>
                {% endfor %}
            </ul>
        </div>
        <br>
        <div id="todos_div">
            <h1>{{ current_list.name }}</h1>
            <form method="POST", id="todo_form">
                <div>
                    <label>Create a Todo</label>
                    <input type="text", id="description", name="description">
                </div>
                <div>
                    <input type="submit", value="create">
                </div>
            </form>
            <br>
            <ul id="todos">
                {% for d in todos %}
                    <li><input id="todocheck-{{ d.id }}" class="todo-checkbox-complete" type="checkbox" {% if d.completed %} checked {% endif %}>
                        {{ d.description }} 
                        <button id="todobutton-{{ d.id }}" class="cross-button">&cross;</button>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
        <script>
            var crossButtons = document.getElementsByClassName('cross-button')
            for(let i=0;i<crossButtons.length;i++){
                button=crossButtons[i]
                button.onclick= function(e){
                    console.log(e)
                    fetch('/todos/'+e.target.id+'/delete',{
                        method : 'POST',
                        headers :{
                            'Content-Type' : 'application/json'
                        }
                    }).then(function(response){
                        return response.json();
                    }).then(function(jsonResponse){
                        console.log(jsonResponse);
                        document.getElementById(e.target.id).parentNode.remove()
                    }).catch(function(e){
                        console.log(e)
                    })

                }
            }
            var checkBoxes = document.getElementsByClassName('todo-checkbox-complete');
            for(let i=0;i<checkBoxes.length;i++){
                var checkbox=checkBoxes[i];
                checkbox.onchange = function(e){
                    console.log('event',e);
                    fetch('/todos/'+e.target.id+'/completed',{
                        method : 'POST',
                        body : JSON.stringify({
                            'completed' : e.target.checked
                        }),
                        headers :{
                            'Content-Type' : 'application/json'
                        }
                    }).then(function(response){
                        return response.json();
                    }).then(function(jsonResponse){
                        console.log(jsonResponse);
                    }).catch(function(e){
                        console.log(e)
                    })
                }
            }
            var todo_form=document.getElementById('todo_form');
            todo_form.onsubmit=function(e){
                e.preventDefault();
                fetch('/lists/{{ current_list.id }}/create',{
                    method : 'POST',
                    body : JSON.stringify({
                        'description' : document.getElementById('description').value
                    }),
                    headers :{
                        'Content-Type' : 'application/json'
                    }
                }).then(function(response){
                    return response.json();
                }).then(function(jsonResponse){
                    console.log(jsonResponse);
                    var listItem = document.createElement("li");
                    listItem.innerHTML = jsonResponse['description'];
                    document.getElementById("todos").appendChild(listItem)
                }).catch(function(e){
                    console.log(e)
                })
            }
            var list_form=document.getElementById('list_form');
            list_form.onsubmit=function(e){
                e.preventDefault();
                fetch('/lists/create',{
                    method : 'POST',
                    body : JSON.stringify({
                        'name' : document.getElementById('list_name').value
                    }),
                    headers :{
                        'Content-Type' : 'application/json'
                    }
                }).then(function(response){
                    return response.json();
                }).then(function(jsonResponse){
                    console.log(jsonResponse);
                    var listLink = document.createElement("a");
                    listLink.innerHTML = jsonResponse['name'];
                    listLink.href='/lists/'+String(jsonResponse['id']);
                    document.getElementById("lists").appendChild(listLink);
                }).catch(function(e){
                    console.log(e)
                })
            }
        </script>
    </body>
</html>